<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target xsi:type="ColoredConsole"
              name="Color"
              layout="${message} ${exception:format=tostring}"
              useDefaultRowHighlightingRules="true">
      </target>
      <target name="ServiceLogFile" xsi:type="File"  layout="${longdate} ${logger} ${message} ${exception:format=tostring}"
              fileName="logs/Service/Service.${shortdate}.log"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="Color" />
        <logger name="Easis.Wfs.FlowSystemService.*" minlevel="Trace" writeTo="ServiceLogFile" />
    </rules>
</nlog>
